body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.bg-main {
    background-color: #00445E;
    margin: 0px;
    padding: 0px;
}

.middle-menu-container {
    color: #FFF;
    background-color: #00445E;
    padding-top: 14px;
    padding-bottom: 14px;
}

.buttons-menu {
    margin-top: 34px;
    padding-left: 0px;
    text-align: center;
}

.buttons-menu li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.buttons-menu li a {
    text-decoration: none;
}

.but-in-menu {
    color: var(--blue, #9ECEFA);
    font-size: 18px;
    font-weight: 400;
    line-height: 166.188%;
}


.column-with-text {
    display: flex;
}

.col-with-image-and-text {
    text-align: center;
}

.search-input {
    background-color: #276f98;
    padding: 8px 30px 8px 10px;
    border-radius: 12px;
    font-size: 15px;
    border: 0px;
    outline: none;
    color: #FFF;
}

.search-icon {
    position: relative;
    padding: 0px;
    top: 10px;
    display: inline-block;
    right: 35px;
    transform: rotate(45deg);
    font-size: 35px;
    color: #FFF;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-container {
    margin-top: 16px;
}


.text-stop-terrorism {
    justify-content: center;
    padding: 156px 0px 478px 0px;
    text-align: center;
    display: flex;
    color: #FFF;
    text-shadow: 4px -1px 0px rgba(0, 0, 0, 0.25);
    font-size: 77px;
    font-weight: 700;
    letter-spacing: 6.16px;
}

.text-anti-terrorist-center {
    font-size: 15px;
    margin-top: 25px;
    margin-left: 32px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    line-height: 166.188%;
}

.no-padding {
    padding: 0px;
}


.bottom-menu-container {
    background-image: url(images/image2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -224px;
}

.block-with-bckgrnd-image {
    height: 600px;
    width: 80%;
    background-image: url(images/image3.svg);
    background-repeat: no-repeat;

    padding-left: 24%;
    padding-top: 6%;
}

.container-between {
    height: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.middle-part-container {
    padding: 0px;
}

.white-background-block {
    background-color: rgba(238, 238, 238, 0.5);
    display: flex;
    justify-content: right;
    padding-top: 1%;
    width: 76%;
    height: 76%;
}

.orange-line-1 {
    border-top: 3px solid #EF6621;
    border-right: 3px solid #EF6621;
    margin: 0px;
    width: 25%;
    height: 45%;

    z-index: 1;
}

.container-with-text-in-white-labe {
    font-weight: 400;
    line-height: 166.188%;
    font-size: 18px;

    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: -10%;
    z-index: 2;
}


.news-container-text {
    z-index: 1;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.187%;
}

.orange-line-2 {
    border-bottom: 3px solid #EF6621;
    width: 70%;
    margin: 0px;
    z-index: 2;
}

.text-in-news {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 123.187%;
}

.news-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 4%;
}

.element-of-list {
    display: flex;
    flex-wrap: nowrap;
    width: 46%;
    margin-right: 4%;
    margin-bottom: 4%;
}

.contianer-with-image-in-list {
    display: flex;
}

.container-with-text-and-move-on {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.container-with-text {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 123.187%;
    z-index: 2;
    padding: 16px;
}

.img-in-list {
    background-color: #C3C5D1;
}

.read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: none;
    color: #EF6621;
    z-index: 1;
    padding: 16px;

    font-weight: bold;
    font-size: 14px;
}

.bottom-menu-with-form {
    display: block;
    height: 20%;
}

.orange-line-3 {
    border-top: 3px solid #EF6621;
    border-left: 3px solid #EF6621;
    margin: 0px;
    width: 4%;
    height: 20%;
    z-index: 2;
}


.take-news-container {
    margin-top: 4%;
    margin-bottom: 6%;
}


.take-news-row {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 0;
    margin-bottom: 2%;
    height: 23%;
}

.take-news-column {
    position: relative;
    height: 100px;
    padding: 0px;
}

.take-news-text {
    padding-left: 2%;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.187%;
    letter-spacing: 0.15px;
    z-index: 1;
}

.small-input-lable {
    display: flex;
    align-items: top;
    width: 95%;
    height: 100%;
}

.big-input-lable {
    display: flex;
    width: 100%;
    height: 100%;
}

.lable-to-enter-info {
    height: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.188%;
}

.take-more-news-form-1 {
    display: flex;
    justify-content: left;
    height: 100%;
    padding: 0px;
}

.take-more-news-form-2 {
    display: flex;
    justify-content: right;
    height: 100%;
    padding: 0px;
}

::placeholder {
    opacity: 0.5;
    padding-left: 16px;
    font-size: 16px;
}

.take-more-news-form-3 {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;
}

.lable-to-enter-info-2 {
    height: 90px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.188%;
}

.take-news-submit-button {
    background-color: #EF6621;
    position: absolute;
    bottom: 0;
    right: 0;

    cursor: pointer;
    height: 60px;
    width: 34%;
}

.take-news-submit-text {
    color: #FFF;
    margin: 0px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.188%;
}

.footer-background {
    background-color: #002635;
    color: #FFF;
    padding: 4%;
}

.footer-navbar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.footer-anti-terrorist-center-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.188%;
}

.footer-images {
    padding: 10px;
    text-decoration: none;
}